* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: 16px/1.5 Verdana, sans-serif;
}

body, form, input, button {
    font: inherit;
}


body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
}

.site-content {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
}


body > header,
.site-content > main,
.site-content > aside,
body > footer {
    padding: 2em;
    border: 2px solid black;
    
}

header {
    /* позволява му да разсте да се shrink и да е на 100%*/
    /* flex: 1 1 100%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* flex-grow - 1, flex-shrink - 1 flex-basis - 20ch */
main {
    flex: 0 1 70%;
    padding-right: 2em;
}

aside {
     flex: 1 1 30%;
}

nav ul {
    display: flex;
    gap: 2em;
}

nav ul li,
nav ul li a{
    display: block;
}

nav ul li a{
    padding: 0.5em 1em;;
    border-radius: 0.3em;
    background: #eee;
    text-decoration: none;  
}