/* *{
    padding: 0;
    margin: 0;
}


li{
    list-style-type: none;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 8px;   
}

li:hover{
    background: grey;
} */

a{
    text-decoration: none;
    color: blue;
}

/* ul{
    display: flex;
    gap: 20px;
    justify-content: center;
}

nav{
    background-color: rgba(128, 128, 128, 0.368);
    padding: 20px 5px;
} */