@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
/* @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css'); */


body {
    font-family: 'Gochi Hand';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #eee;
}

.postcard {
    width: 800px;
    height: 650px;
    border: 1px solid #ccc;
    border-radius: 1em;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.1);
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.postcard-front,
.postcard-back {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.postcard-front {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.postcard-front img {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    width: 100%;
    height: 100%;
}

.postcard-front .message {
    position: absolute;
    bottom: 30px;
    background-color: white;
    padding: 15px 20px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    border-radius: 0.7em;
}

.postcard-front .message h1 {
    color: #333;
    font-size: 20px;
    margin: 0 0 10px 0;
}

.postcard-front .message p {
    font-size: 14px;
    color: #333;
    margin: 0;
    opacity: 0.8;
}

.postcart-back {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 40px;
}

.postcart-back h2 {
    margin-top: 0;
    font-size: 20px;
    color: #333;
}

.postcart-back p {
    margin: 5px 0;
    color: #333;
    opacity: 0.8;
}