body {
    margin-top: 30px;
    background: lightgray;
}

article {
    /* max-width: 300px;
    width: 30%; */

    width: 300px;
    /* border: 1px solid black; */
    /* display: inline-block; */
    border-radius: 5px;
    margin: 0 auto;
    background-color: white;
}

img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

a {
    text-decoration: none;
    color: #000;
}

.cut-text {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-container {
    padding: 10px;
}

.big-text {
    font-weight: bold;
    font-size: 20px;
}