.section.banner{
    /* което може да бъде презастъпано и излиза отгоре да се скрие */
    overflow: hidden;
    /* елемента да бъде центриран */
    margin: auto;
    background-image: url(images/image1.jpg);
    /* позицията да е център */
    background-position: center;
    /* да стане като cover разпъва се*/
    background-size: cover;
    /* когато слагаме картинка за background се поставя и височина !!!! */
    /* min-height: max(30vh, 750px); */
     height: 500px;
    position: relative;
}

.section.banner header{
    color: white;
    /* ще се уголими на база перант контейнера */
    font-size: 1.5em;
    max-width: 30rem;
    margin: auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}