* {
    padding: 0;
    margin: 0;
}


main{
    border: 1px solid green;
    padding: 10px 60px;
    
}

section{
    border: 1px solid blue;
    padding: 2px;
}

article{
    border: 1px solid black;
    padding: 15px;
    margin: 15px;
    text-align: center;
}

/* .text{
     font-weight: bold;
} */