body {
  font-family: Arial, sans-serif;
  max-width: 1060px;
  margin: 0 auto; /* центриране */
  padding: 20px;
}

details {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
  margin: 0px;
}

summary {
  font-weight: bold;
  cursor: pointer;
  list-style: none;
}

summary::before {
  content: ">";
  margin-right: 10px;
}

details[open] summary::before {
  content: "v";
}

p {
  margin-top: 10px;
  line-height: 1.6;
}